---
**{{ inventory_hostname.upper() }}**

Model: {{ ansible_net_model }}

Serial Number: {{ ansible_net_serialnum }}

Software Type: {{ ansible_net_iostype }}

Version: {{ ansible_net_version }}

Image: {{ ansible_net_image }}
